.li-div{
    background: #000;
    color: white;
    height: 10vh;
}
ul{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li{
    list-style-type: none;
    font-size: larger;
    font-weight: 800;
    cursor: pointer;
}
li:hover{
    color: grey
}